*{margin: 0;
padding: 0;
box-sizing: border-box;
}
html BODY{
width: 100%;
height: 100%;
}
   header{
    text-align: center;
padding: 2.5%;
    background-color: rgb(102, 133, 159);
color: white;
}
nav {
    background-color: black;
   padding: 1%;
word-spacing: 10px;
}
a{
    color: white;
    word-spacing: 10px;
}
section{text-align: center;

}
h2{
    background-color:black;
    color: white;
}

    
